<div class="filter-section">
  <div class="filter-header">
    <h3 class="filter-title">{{ title }}</h3>
    
    <div class="filter-actions">
      <ng-container *ngIf="showSearch">
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Search</mat-label>
          <input 
            matInput 
            [placeholder]="searchPlaceholder"
            [formControl]="searchControl"
          >
          <button 
            *ngIf="searchControl.value"
            matSuffix 
            mat-icon-button 
            (click)="searchControl.setValue('')"
            aria-label="Clear search"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </ng-container>

      <button 
        *ngIf="showReset" 
        mat-button 
        color="warn" 
        (click)="onReset()"
        class="reset-button"
      >
        <mat-icon>refresh</mat-icon>
        Reset
      </button>
    </div>
  </div>

  <div class="filter-content">
    <div 
      *ngFor="let filter of filters; trackBy: trackByFn"
      class="filter-item"
      [class.full-width]="filter.type === 'text' || filter.type === 'select' || filter.type === 'multiselect'"
    >
      <mat-form-field *ngIf="filter.type === 'text' || filter.type === 'number' || filter.type === 'date'" appearance="outline" class="filter-field">
        <mat-label>{{ filter.label }}</mat-label>
        <input 
          matInput 
          [type]="filter.type"
          [placeholder]="filter.placeholder || ''"
          [required]="filter.required"
          (input)="onFilterChange(filter.id, $event.target.value)"
        >
      </mat-form-field>

      <mat-form-field *ngIf="filter.type === 'select'" appearance="outline" class="filter-field">
        <mat-label>{{ filter.label }}</mat-label>
        <mat-select 
          [placeholder]="filter.placeholder || 'Select'"
          (selectionChange)="onFilterChange(filter.id, $event.value)"
        >
          <mat-option *ngFor="let option of filter.options" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="filter.type === 'multiselect'" appearance="outline" class="filter-field">
        <mat-label>{{ filter.label }}</mat-label>
        <mat-select 
          multiple
          [placeholder]="filter.placeholder || 'Select multiple'"
          (selectionChange)="onFilterChange(filter.id, $event.value)"
        >
          <mat-option *ngFor="let option of filter.options" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="filter.type === 'checkbox' || filter.type === 'radio'" class="checkbox-group">
        <label class="filter-label">{{ filter.label }}</label>
        <mat-radio-group 
          *ngIf="filter.type === 'radio'"
          (change)="onFilterChange(filter.id, $event.value)"
          class="radio-group"
        >
          <mat-radio-button 
            *ngFor="let option of filter.options" 
            [value]="option.value"
            class="radio-button"
          >
            {{ option.label }}
          </mat-radio-button>
        </mat-radio-group>
        
        <div *ngIf="filter.type === 'checkbox'" class="checkbox-container">
          <mat-checkbox 
            *ngFor="let option of filter.options" 
            [checked]="filterValues[filter.id]?.includes(option.value)"
            (change)="onCheckboxChange(filter, option.value, $event.checked)"
            class="checkbox-option"
          >
            {{ option.label }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
